/*Header*/
.conteneurHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.conteneurHeader .conteneurLogo {
  display: flex;
  justify-content: center;
}

.logo {
  width: 140px;
  height: 30px;
}

/*Localisation*/
.conteneurLocalisation {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  margin-top: 10px;
}
.conteneurLocalisation .conteneurMap {
  box-shadow: 0px 5px 0px inset;
}
.conteneurLocalisation .Presentation {
  display: flex;
  flex-direction: column;
}
.conteneurLocalisation .btnExplorer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.mapIcone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dddddd;
}
.mapIcone i.fas.map {
  padding-left: 10%;
}

.lieu {
  background-color: #dddddd;
  border: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: black;
}

.reservez {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 22px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}

.decouvrez {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.explorer {
  border: solid 1px #9356dc;
  box-shadow: 3px 3px 3px #e2d8d8;
  background-color: #9356dc;
  background-clip: padding-box;
  width: 215px;
  height: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-bottom: 7%;
}
.explorer .linear-gradient {
  background: linear-gradient(0deg, #9356dc, #ff79da);
}

/* Fonctionnement*/
h1 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.iconeBtn {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  padding-left: 30px;
}

.iconeBtn2 {
  display: flex;
  flex-direction: row;
  padding-right: 19px;
  padding-left: 28px;
}

.conteneurFonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  padding-bottom: 30px;
}
.conteneurFonctionnement .conteneurTitre {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}
.conteneurFonctionnement .conteneurChoisissez {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.conteneurFonctionnement .conteneurChoisissez .btnFonctionnement {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  width: 80%;
  height: 60px;
  border: 1px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 2px #dddddd;
}
.conteneurFonctionnement .conteneurComposez {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.conteneurFonctionnement .conteneurComposez .btnFonctionnement {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  width: 80%;
  height: 60px;
  border: 1px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 2px #dddddd;
}
.conteneurFonctionnement .conteneurDegustez {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.conteneurFonctionnement .conteneurDegustez .btnFonctionnement {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  width: 80%;
  height: 60px;
  border: 1px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 2px #dddddd;
}

/* Restaurants*/
h4 {
  margin: 0%;
}

.conteneurDescription {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
}

.heart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 35px;
}

.conteneurRestaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1150px;
  background-color: #f6f6f6;
  padding-top: 10px;
}
.conteneurRestaurants .conteneurTitre {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}
.conteneurRestaurants .conteneurLaPalette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 260px;
  padding-bottom: 10px;
}
.conteneurRestaurants .conteneurLaPalette .cardRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 3px 4px #bdb8b8;
}
.conteneurRestaurants .conteneurLaPalette .cardRestaurant .photoR {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
}
.conteneurRestaurants .conteneurLaPalette .cardRestaurant .cardDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70px;
}
.conteneurRestaurants .conteneurLaNote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 260px;
  padding-bottom: 10px;
}
.conteneurRestaurants .conteneurLaNote .cardRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 3px 4px #bdb8b8;
}
.conteneurRestaurants .conteneurLaNote .cardRestaurant .photoR {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
}
.conteneurRestaurants .conteneurLaNote .cardRestaurant .cardDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70px;
}
.conteneurRestaurants .conteneurLaFrancaise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 260px;
  padding-bottom: 10px;
}
.conteneurRestaurants .conteneurLaFrancaise .cardRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 3px 4px #bdb8b8;
}
.conteneurRestaurants .conteneurLaFrancaise .cardRestaurant .photoR {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
}
.conteneurRestaurants .conteneurLaFrancaise .cardRestaurant .cardDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70px;
}
.conteneurRestaurants .conteneurLeDelice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 260px;
  padding-bottom: 10px;
}
.conteneurRestaurants .conteneurLeDelice .cardRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 3px 4px #bdb8b8;
}
.conteneurRestaurants .conteneurLeDelice .cardRestaurant .photoR {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
}
.conteneurRestaurants .conteneurLeDelice .cardRestaurant .cardDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70px;
}

/*Footer*/
.conteneurFooter {
  display: flex;
  flex-direction: column;
  background-color: #383636;
  padding-top: 10px;
  width: 100%;
  height: 200px;
  padding-left: 10%;
}
.conteneurFooter .conteneurTitreFooter {
  display: flex;
  flex-direction: row;
  font-family: "Shrikhand", cursive;
  font-size: larger;
  color: white;
}
.conteneurFooter .proposer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 25px;
  font-family: "Roboto", sans-serif;
  color: white;
}
.conteneurFooter .devenir {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 25px;
  font-family: "Roboto", sans-serif;
  color: white;
}
.conteneurFooter .mentions {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 25px;
  font-family: "Roboto", sans-serif;
  color: white;
}
.conteneurFooter .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 25px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.iconeF {
  margin-right: 15px;
}

.iconeFo {
  margin-right: 9px;
}

/*# sourceMappingURL=style.css.map */
