@import "./utils/Variables.scss";
@import "./utils/Mixins.scss";


/*loader*/
.conteneur {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  position: fixed;
  z-index: 2;
  animation: conteneur 2s; 
  animation-delay: 3s;
  animation-fill-mode: both;
}

@keyframes conteneur {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes conteneur {
  100% {
    -webkit-opacity: 0;
    -webkit-z-index: -1;
  }
}

.chargement {
  border: 10px ridge #9356DC;
  border-top: 10px solid #99E2D0 ;
  border-bottom: 10px solid #99E2D0 ;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  
  -webkit-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.drink {
  display: flex;
  font-size: 40px;
  color: #FF79DA  ;
  -webkit-animation: spinreverse 2s linear infinite;
  -o-animation: spinreverse 2s linear infinite;
  animation: spinreverse 2s linear infinite;
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}

@-webkit-keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg) scale(0);
  }
  100% {
    -webkit-transform: rotate(-360deg) scale(1);
  }
}

/*Header*/
.conteneurHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  .conteneurLogo {
    display: flex;
    justify-content: center;
  }
}
.logo {
  width: 140px;
  height: 30px;
}

/*Localisation*/

.explorerNR {
  display: inline;
  box-shadow: none;
}

.conteneurLocalisation {
  display: flex;
  flex-direction: column;
  background-color: $fondgris;
  margin-top: 10px;
  
  .conteneurMap {
    box-shadow: 0px 5px 0px inset;
  }
  
  .Presentation {
    display: flex;
    flex-direction: column;
  }
  
  .btnExplorer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: $padding-tbp;
    padding-top: $padding-tb;
    :hover {
      @include hoverBtnEx;
    }
    
  }
}

.mapIcone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: $padding-tb;
  padding-bottom: $padding-tb;
  background-color: darken($fondgris, 5%);
  
  i.fas.map {
    padding-left: 10%;
  }
}

.lieu {
  background-color: darken($fondgris, 5%);
  border: none;
  font-weight: bold;
  font-family: $policeTexte;
  color: black;
}

.reservez {
  font-family: $policeTexte;
  font-weight: bolder;
  font-size: 22px;
  display: flex;
  justify-content: center;
  padding-top: $padding-tbp;
  padding-bottom: $padding-tb;
  padding-left: $padding-lr;
  padding-right: $padding-lr;
  text-align: center;
}

.decouvrez {
  font-family: $policeTexte;
  display: flex;
  justify-content: center;
  padding-bottom: $padding-tbp;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.explorer {
  background: linear-gradient(to bottom right, $secondary, $primary);
  background-clip: border-box;
  width: 215px;
  height: 20px;
  text-align: center;
  font-family: $policeTexte;
  color: white;
  padding-top: $padding-tb;
  padding-bottom: $padding-tb;
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgb(226, 216, 216);
  margin-bottom: 7%;
}

/* Fonctionnement*/

h1 {
  font-size: 22px;
  font-family: $policeTexte;
  font-weight: bolder;
}

.iconeBtn {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  padding-left: 10px;
  color: grey;
}

.iconeBtn2 {
  display: flex;
  flex-direction: row;
  padding-right: 19px;
  padding-left: 10px;
  color: grey;
}

.rond {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: white;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  margin: 0 10px 0 -10px;
}  

.conteneurFonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 330px;
  padding-bottom: $padding-tbp;
  
  .conteneurTitre {
    @include conteneurTitre;
  }
  
  .conteneurCcd {
    @include conteneurF;
    .btnFonctionnement {
      @include btnF;
    }
    :hover {
      @include hoverbtnF;
      & i{
        color: $primary;
      }
    }
  }
  
}

/* Restaurants*/

h4 {
  margin: 0%;
  font-size: 18px; 
}

.conteneurDescription {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  font-family: $policeTexte;
}

/*Coeur, gestion opacity*/
.heart {
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 35px;
  position: relative;
  z-index: 1;
}

.heart_empty{ 
  position: absolute;
}

.heart_full {
  position: absolute;
  color: transparent;
  opacity: 0;
  transition: 1s ease-in-out;
}

.heart_full:hover {
  background: linear-gradient(0deg, $secondary, $primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 1;
  transform: scale(1.10);
  
  @keyframes heart {
    0% {
      opacity: 0;
    }
    25% {
      opacity:0,5;
    }
    50% {
      opacity:0,6;
    }
    75% {
      opacity:0,7;
    }
    100% {
      opacity: 1;
    }
  }
  
}

.fa-regular.fa-heart:hover{
  font-weight: 900 ;
  cursor: grab; 
  font-size: 35px;
}

.conteneurRestaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1150px;
  background-color: $fondgris;
  padding-top: $padding-tb;
  
  .conteneurTitre {
    @include conteneurTitre;
  }
  .conteneurLlal {
    @include conteneurR;
    .cardRestaurant {
      @include cardR;
      .photoR {
        @include photoRestaurant;
      }
      .cardDescription {
        @include cardDesc;
      }
    }
  }
  
}

/* Animation Nouveau */

.nouveau {
  font-family: $policeTexte;
  position: absolute;
  right: 10%;
  margin-top: 3%;
  background: $tertiaire;
  color: #269176;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 2px;
  animation: nouveau 2600ms linear infinite;
  @keyframes nouveau {
    0% {
      opacity: 1;
    }
    25% {
      opacity:0,5;
    }
    50% {
      opacity:0;
    }
    75% {
      opacity:0,7;
    }
    100% {
      opacity: 1;
    }
  }
}

/*Footer*/

a{
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.conteneurFooter {
  display: flex;
  flex-direction: column;
  background-color: rgb(56, 54, 54);
  padding-top: $padding-tb;
  height: 200px;
  padding-left: 10%;
  
  .conteneurTitreFooter {
    display: flex;
    flex-direction: row;
    font-family: $policeTitre;
    font-size: larger;
    color: white;
  }
  
  .pdmc {
    @include conteneurFoot;
  }
}
.iconeF {
  margin-right: 15px;
}

.iconeFo {
  margin-right: 9px;
}
