$policeTitre: "Shrikhand", cursive;
$policeTexte: "Roboto", sans-serif;
$primary: #9356dc;
$secondary: #ff79da;
$tertiaire: #99e2d0;

/*Header*/
.conteneurHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  .conteneurLogo {
    display: flex;
    justify-content: center;
  }
}
.logo {
  width: 140px;
  height: 30px;
}

/*Localisation*/
$padding-tb: 10px;
$padding-tbp: 30px;
$padding-lr: 20%;
$fondgris: #f6f6f6;

.conteneurLocalisation {
  display: flex;
  flex-direction: column;
  background-color: $fondgris;
  margin-top: 10px;

  .conteneurMap {
    box-shadow: 0px 5px 0px inset;
  }

  .Presentation {
    display: flex;
    flex-direction: column;
  }

  .btnExplorer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: $padding-tbp;
    padding-top: $padding-tb;
  }
}

.mapIcone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: $padding-tb;
  padding-bottom: $padding-tb;
  background-color: darken($fondgris, 5%);

  i.fas.map {
    padding-left: 10%;
  }
}

.lieu {
  background-color: darken($fondgris, 5%);
  border: none;
  font-weight: bold;
  font-family: $policeTexte;
  color: black;
}

.reservez {
  font-family: $policeTexte;
  font-weight: bolder;
  font-size: 22px;
  display: flex;
  justify-content: center;
  padding-top: $padding-tbp;
  padding-bottom: $padding-tb;
  padding-left: $padding-lr;
  padding-right: $padding-lr;
  text-align: center;
}

.decouvrez {
  font-family: $policeTexte;
  display: flex;
  justify-content: center;
  padding-bottom: $padding-tbp;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.explorer {
  background: linear-gradient(to bottom right, $secondary, $primary);
  background-clip: border-box;
  width: 215px;
  height: 20px;
  text-align: center;
  font-family: $policeTexte;
  color: white;
  padding-top: $padding-tb;
  padding-bottom: $padding-tb;
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgb(226, 216, 216);
  margin-bottom: 7%;

}

/* Fonctionnement*/

@mixin hoverbtnF {
background-color: lighten($color: $primary, $amount: 35%);
box-shadow: 2px 2px 10px darken($fondgris, 20%);
transition: all 500ms ease-in-out;
transform: scale(1.03);
}

@mixin conteneurF {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

@mixin btnF {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $policeTexte;
  font-weight: bolder;
  font-size: 16px;
  width: 80%;
  height: 60px;
  border: 1px;
  border-radius: 20px;
  background-color: $fondgris;
  box-shadow: 2px 2px 10px darken($fondgris, 10%);

}

@mixin conteneurTitre {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}

h1 {
  font-size: 22px;
  font-family: $policeTexte;
  font-weight: bolder;
}

.iconeBtn {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  padding-left: 10px;
  color: grey;
}

.iconeBtn2 {
  display: flex;
  flex-direction: row;
  padding-right: 19px;
  padding-left: 10px;
  color: grey;
}

.rond {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: white;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin: 0 10px 0 -10px;
  }  

.conteneurFonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  padding-bottom: $padding-tbp;

  .conteneurTitre {
    @include conteneurTitre;
  }

  .conteneurCcd {
    @include conteneurF;
    .btnFonctionnement {
      @include btnF;
    }
    :hover {
    @include hoverbtnF;
    & i{
      color: $primary;
    }
    }
  }

}

/* Restaurants*/

@mixin conteneurR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 260px;
  padding-bottom: $padding-tb;
}

@mixin cardR {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 3px 4px rgb(189, 184, 184);
}

@mixin photoRestaurant {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
}

@mixin cardDesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70px;
}

h4 {
  margin: 0%;
  font-size: 18px; 
}

.conteneurDescription {
display: flex;
flex-direction: column;
line-height: 20px;
font-family: $policeTexte;
}

/*Coeur, gestion opacity*/
.heart {
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 35px;
  position: relative;
  z-index: 1;
}

.heart_empty{ 
  position: absolute;
}

.heart_full {
  position: absolute;
  color: transparent;
  opacity: 0;
  transition: 1s ease-in-out;
}

.heart_full:hover {
  background: linear-gradient(0deg, $secondary, $primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 1;
  transform: scale(1.10);

  @keyframes heart {
    0% {
      opacity: 0;
    }
    25% {
      opacity:0,5;
    }
    50% {
      opacity:0,6;
    }
    75% {
      opacity:0,7;
    }
    100% {
      opacity: 1;
    }
  }

}

.fa-regular.fa-heart:hover{
  font-weight: 900 ;
  cursor: grab; 
font-size: 35px;
}

.conteneurRestaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1150px;
  background-color: $fondgris;
  padding-top: $padding-tb;

  .conteneurTitre {
    @include conteneurTitre;
  }
  .conteneurLlal {
    @include conteneurR;
    .cardRestaurant {
      @include cardR;
      .photoR {
        @include photoRestaurant;
      }
      .cardDescription {
        @include cardDesc;
      }
    }
  }

}

.nouveau {
  font-family: $policeTexte;
  position: absolute;
  right: 10%;
  margin-top: 3%;
  background: #a4ebd9;
  color: #269176;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 2px;
  animation: nouveau 2600ms linear infinite;
  @keyframes nouveau {
    0% {
      opacity: 1;
    }
    25% {
      opacity:0,5;
    }
    50% {
      opacity:0;
    }
    75% {
      opacity:0,7;
    }
    100% {
      opacity: 1;
    }
  }
}

/*Footer*/

a{
  text-decoration: none;
  color: inherit;
}

@mixin conteneurFoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 25px;
  font-family: $policeTexte;
  color: white;
}

.conteneurFooter {
  display: flex;
  flex-direction: column;
  background-color: rgb(56, 54, 54);
  padding-top: $padding-tb;
  height: 200px;
  padding-left: 10%;

  .conteneurTitreFooter {
    display: flex;
    flex-direction: row;
    font-family: $policeTitre;
    font-size: larger;
    color: white;
  }

  .pdmc {
    @include conteneurFoot;
  }
}
.iconeF {
  margin-right: 15px;
}

.iconeFo {
  margin-right: 9px;
}
